@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');

main {
    width: 60%;
    margin: 0 auto;
    border: 1px solid black;
}

h1, h2, p, li, input, button {
    font-family: 'Open Sans', sans-serif;
    /* color: white; */
}

h1 {
    font-size: 32px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

li {
    padding: 5px;
    margin: 5px 0;
}

input {
    border: none;
    border-bottom: 1px solid black;
    margin: 5px;
    padding: 5px;
}

.item-marcado {
    font-style: italic;
    color: #AAA;
    text-decoration: line-through;
}

.conteudo {
    /* background-color: #eee; */
}

img {
    margin-left: 5px;
}

button {
    font-weight: 600;
    padding: 5px;
    color: #454545;
    background-color: #eee;
    border: 2px solid #454545;
}

button:hover {
    color: white;
    background-color: #454545;
}

/* input[type="text"] {
    width: 60%;
}

input[type="text"]:focus-visible {
    border: 1px solid lightsalmon;
    color: blue;
}

button {
    width: 30%;
} */